<!DOCTYPE html>
{% load static %}
<html>
<head>

  <title> Fathur | Profile </title>
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css:style.css' %}">
</head>
<body style="background-color: #DEE0E3">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4a4a48">
  <a class="navbar-brand" href="{% url 'story4:home'%}">
  <img src="{% static 'images/logo.jpg' %}" alt="Logo" style="width:40px; height:40px;"></a>
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navb" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story4:profile'%}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story4:about'%}">About</a>
      </li>
      <a class="nav-link" href="https://drive.google.com/open?id=1VyJE_jKOuUTUZSTksB8AWB4tL2wNsbk3">CV</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-3" style="margin: 0 4% 0 4%">
  <h1>Profile</h1>
  <div class="media border p-3"style="background-color: #827F7F;color: white;">
    <img src="{% static 'images/S_8354606108989.jpg' %}" alt="Fathur" class="mr-3 mt-3 rounded-circle" style="width:110px;">
    <div class="media-body" >
      <p style="padding-top:15px;">Fathur Rahman Prawira</p>
      <p>Undergraduate Student at Computer Science - Universitas Indonesia</p>
      <p style="padding-bottom:15px;"><small>“Your time is limited, so don’t waste it living someone else’s life.” - Steve Jobs</small></p>      
    </div>
  </div>
</div>


  <div style="background-color:#827F7F; color: white;margin:7% 10% 5% 10%; padding:2% 4% 2% 4% ">
     <h1 style="font-size: 27px;font-style: italic;">Experience</h1>
    <div class="row">
   
      <div class="col-md-2">
        <img src="{% static 'images/hsc.jpg' %}" alt="HSC" class="mr-3 mt-3 rounded-circle" style="width:80px;">
      </div>
      <div class="col-md-10">
        <p style="padding-top:15px;">High School Celebration 2017</p>
        <p>Vice Person In Charge Sponsorship</p>
        <p style="padding-bottom:15px;">Jan 2017 - Sep 2017</p>      

      </div>
      
    </div>
    <div class="row">
     <div class="col-md-2">
        <img src="{% static 'images/cgt.png' %}" alt="CGT" class="mr-3 mt-3 rounded-circle" style="width:80px;">
      </div>
      <div class="col-md-10">
        <p style="padding-top:15px;">Computers Get Together 2019</p>
        <p>HRD Sponsorship</p>
        <p style="padding-bottom:15px;">Jan 2019 - Apr 2019</p>      

      </div>
 
    </div>
        <div class="row">
      <div class="col-md-2">
        <img src="{% static 'images/bem.png' %}" alt="BEM" class="mr-3 mt-3 rounded-circle" style="width:80px;">
      </div>
      <div class="col-md-10">
        <p style="padding-top:15px;">BEM Fakultas Ilmu Komputer UI</p>
        <p>Staff Art and Culture</p>
        <p style="padding-bottom:15px;">Feb 2019 - Present</p>      

      </div>
 
    </div>
    <div class="row">
     <div class="col-md-2">
        <img src="{% static 'images/cf.jpg' %}" alt="COMPFEST" class="mr-3 mt-3 rounded-circle" style="width:80px;">
      </div>
      <div class="col-md-10">
        <p style="padding-top:15px;">COMPFEST</p>
        <p>Staff Transportation and Venue</p>
        <p style="padding-bottom:15px;">Jan 2019 - Present</p>      

      </div>
 
    </div>
    
  </div>

  <div style="background-color:#827F7F; color: white;margin:5% 10% 9% 10%; padding:2% 4% 2% 4% ">
     <h1 style="font-size: 27px;font-style: italic;">Education</h1>
    <div class="row">
   
      <div class="col-md-2">
        <img src="{% static 'images/LOGO SMPN 19 JAKARTA.jpg' %}" alt="smp 19" class="mr-3 mt-3 rounded-circle" style="width:80px;">
      </div>
      <div class="col-md-10">
        <p style="padding-top:15px;">SMP Negeri 19 Jakarta</p>
        <p>Junior High School</p>
        <p style="padding-bottom:15px;">Jun 2012 - May 2015</p>      

      </div>
      
    </div>
    <div class="row">
     <div class="col-md-2">
        <img src="{% static 'images/LOGO-SMAN-34-JAKARTA.jpg' %}" alt="sman 34" class="mr-3 mt-3 rounded-circle" style="width:80px;">
      </div>
      <div class="col-md-10">
        <p style="padding-top:15px;">SMA Negeri 34 Jakarta</p>
        <p>High School, Natural Science</p>
        <p style="padding-bottom:15px;">Jun 2015 - Apr 2018</p>      

      </div>
 
    </div>
        <div class="row">
     <div class="col-md-2">
        <img src="{% static 'images/makara.png' %}" alt="UI" class="mr-3 mt-3 rounded-circle" style="width:80px;">
      </div>
      <div class="col-md-10">
        <p style="padding-top:15px;">Universitas Indonesia</p>
        <p>Undergraduate, Computer Science</p>
        <p style="padding-bottom:15px;">May 2018 - Present</p>      

      </div>
 
    </div>
  </div>

  <div style="background-color:#827F7F; color: white;margin:5% 10% 9% 10%; padding:2% 4% 2% 4% ">
     <h1 style="font-size: 27px;font-style: italic;">Skills</h1>
    <div class="row">  
      <div class="col-md-12">
        <div class="progress" style="margin: 2% 0 2% 0;">
          <div class="progress-bar" role="progressbar" style="width: 68%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Java</div>
        </div>
        <div class="progress" style="margin: 2% 0 2% 0;">
          <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Python</div>
        </div>
        <div class="progress"style="margin: 2% 0 2% 0;">
          <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">CSS</div>
        </div>
        <div class="progress"style="margin: 2% 0 2% 0;">
          <div class="progress-bar" role="progressbar" style="width: 52%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">HTML</div>
        </div>
        <div class="progress"style="margin: 2% 0 2% 0;">
          <div class="progress-bar" role="progressbar" style="width: 82%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Microsoft Office</div>
        </div>

      </div>
    </div>
  </div>

  <div>
    <div class="row" style="margin: 0 35% 0 35%">
      <a class="nav-link" href="https://facebook.com/fathur.rahman.prawira/">
      <img src="{% static 'fb.png' %}"  alt="facebook" style="width:90px;">
      </a>
      <a class="nav-link" href="https://twitter.com/fathurrpp/">
      <img src="{% static 'twitter.png' %}" alt="twiter" style="width:70px;">
      </a>
      <a class="nav-link" href="https://instagram.com/fathurrp/">
      <img src="{% static 'ig.png' %}" alt="instagram" style="width:70px;">
      </a>
      <a class="nav-link" href="https://www.linkedin.com/in/fathurrahmanprawira/">
      <img src="{% static 'li.png' %}" alt="linkedin" style="width:70px;">
      </a>
    </div>
  </div>







</body>
</html>